<app-cabecero
  [presupuestoTotal]="getPresupuestoTotal()"
  [ingresoTotal]="getIngresoTotal()"
  [egresoTotal]="getEgresoTotal()"
  [porcentajeTotal]="getPorcentajeTotal()"
  [aniosList]="aniosList"
  (loadCabecero)="loadingEvent($event)"
></app-cabecero>
<div *ngIf="loading; else contenido">
  <app-tabs-anios-meses
    style="width: 100%"
    (aniosList)="anios($event)"
    [presupuestoTotal]="getPresupuestoTotal()"
  ></app-tabs-anios-meses>
</div>
<ng-template #contenido>
  <app-loading></app-loading>
</ng-template>
